html {
  font-size: 2rem;
  font-family: 'Open Sans';
  background-color: #00539F;
}

h1 {
  font-size: 2em;
  text-align: center;
  margin: 0;
  padding: 1em 0;    
  color: #00539F;
  text-shadow: 3px 3px 1px black;
}

p, li {
  font-size: 1em;    
  line-height: 2;
  letter-spacing: 1px;
}

body {
  width: 60%;
  margin: 0 auto;
  background-color: #FF9500;
  padding: 0 1.5em 1.5em 1.5em;
  border: 5px solid black;
}

img {
  width: 40%;
  margin: 0 auto;
  display: block;
}

  

